
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">

      <div class="container">
        <a class="navbar-brand" href="#">CMS</a>
<!--        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <li class="nav-item  {{#if home_active}}active{{/if}}">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item {{#if list_active}}active{{/if}}">
              <a class="nav-link" href="/list">Articles</a>
            </li>
            <li class="nav-item {{#if add_article_active}}active{{/if}}">
              <a class="nav-link" href="/add">New</a>
            </li>
          </div>-->
        </div>
      </div>

    </nav>