<section class="mainWrap">
	<!--<div class="login">-->
		<!--login/sign up-->
	<!--</div>-->
	<div class="logo">
		<img src="/images/logo.png" onclick="javascript:location.href='/properties'">
		<form action="/login" method="post">
			<input type="text" class="form-control" name="username" placeholder="username">
			<input type="password" class="form-control" name="password" placeholder="password">
			<input type="submit" class="btn btn-success" value="submit">
		</form>
	</div>
</section>