*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background: #f8f8f8;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.container{
  width:60vw;
}

.row {
  position: relative;
}

.row .heading-primary {
  margin: 50px 0 30px 0;
  height: 40px;
}

.row .heading-primary h2, h2 {
  line-height: 40px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.row .heading-primary h2 i,
.row .heading-primary h2 span {
  vertical-align: middle;
  line-height: 40px;
  display: inline-block;
}

.btn--back {
  position: absolute;
  right: 15px; top: 0;
}

.btn--back i,
.btn--back span {
  float: left;
}

.btn--back i {
  margin: 0 7px 0 0;
}

.article {
  margin: 0 0 45px 0;
  position: relative;
  border-radius: 4px;
}


.article a:link,
.article a:visited {
  font-size: 11px;
  background-color: #007bff;
  color: #fff;
  padding: 0 10px;
  margin: 0 10px 0 0;
  display: inline-block;
  border-radius: 3px;
  vertical-align: middle;
  text-decoration: none;
}

.article h5 {
  line-height: 25px;
  margin: 0;
}

.article ul {
  list-style-type: none;
}

.article p {
  margin: 0;
}

.article .teaser {
  margin: 7px 0;
  font-size: 17px;
}

.article--view {
  list-style-type: none;
}

.article--view .teaser {
}

.article--view .title {
  font-size: 25px;
}

.article--view .text {
  margin: 20px 0;
  font-size: 18px;
}

.article--view .release,
.article--view .author {
  font-size: 13px;
}

.search {
  padding: 0 0 30px 0;
}

.search input[type=text] {
  width: 100%;
}

.search--wrap {
  width: 80%;
}

.search p {
  padding: 0 15px;
}

#errorDialog{
  position:fixed;
  height:60px;
  left:0;
  top:-60vh;
  width:100vw;
  z-index:99999;
}

#errorDialog #errorContent{
  width:60vw;
  margin:0 auto;
  padding-top:5px;
}

#uploadFiles{
  outline:1px solid RGBA(206, 212, 218, 1.00);
  margin: 0 0 30px 7px;
  padding:15px;
  display:none;
  background-color: white;
}